h1 {
  
  font-family: "Funnel Display", sans-serif;
  font-style: verdana;
  
}
img {
   width: 300px;
   border-radius: 30px;
   border-style:solid ;
   border-color:blue ;
}
h2{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: hidden;
    border-width: 5px;
}
a {
    background-color: bisque;
    width: 30px;
    margin: 130px;
    padding: 10px;
    border-radius: 12px;
}